@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.wallet-adapter-button {
  background-color: initial;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: DM Sans, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 4px;
}
.wallet-adapter-button-trigger {
  background-color: #512da8;
}
.wallet-adapter-button:not([disabled]):focus-visible {
  outline-color: #fff;
}
.wallet-adapter-button:not([disabled]):hover {
  background-color: #1a1f2e;
}
.wallet-adapter-button[disabled] {
  background: #404144;
  color: #999;
  cursor: not-allowed;
}
.wallet-adapter-button-end-icon,
.wallet-adapter-button-end-icon img,
.wallet-adapter-button-start-icon,
.wallet-adapter-button-start-icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.wallet-adapter-button-end-icon {
  margin-left: 12px;
}
.wallet-adapter-button-start-icon {
  margin-right: 12px;
}
.wallet-adapter-collapse {
  width: 100%;
}
.wallet-adapter-dropdown {
  position: relative;
  display: inline-block;
}
.wallet-adapter-dropdown-list {
  position: absolute;
  z-index: 99;
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 10px;
  padding: 10px;
  top: 100%;
  right: 0;
  margin: 0;
  list-style: none;
  background: #2c2d30;
  border-radius: 10px;
  box-shadow: 0 8px 20px #0009;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
  font-family: DM Sans, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.wallet-adapter-dropdown-list-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}
.wallet-adapter-dropdown-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  height: 37px;
  color: #fff;
}
.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-color: #1a1f2e;
}
.wallet-adapter-modal-collapse-button svg {
  align-self: center;
  fill: #999;
}
.wallet-adapter-modal-collapse-button.wallet-adapter-modal-collapse-button-active
  svg {
  transform: rotate(180deg);
  transition: transform 0.15s ease-in;
}
.wallet-adapter-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.15s linear;
  background: #00000080;
  z-index: 1040;
  overflow-y: auto;
}
.wallet-adapter-modal.wallet-adapter-modal-fade-in {
  opacity: 1;
}
.wallet-adapter-modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 12px;
  cursor: pointer;
  background: #1a1f2e;
  border: none;
  border-radius: 50%;
}
.wallet-adapter-modal-button-close:focus-visible {
  outline-color: #fff;
}
.wallet-adapter-modal-button-close svg {
  fill: #777;
  transition: fill 0.2s ease 0s;
}
.wallet-adapter-modal-button-close:hover svg {
  fill: #fff;
}
.wallet-adapter-modal-overlay {
  background: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.wallet-adapter-modal-container {
  display: flex;
  margin: 3rem;
  min-height: calc(100vh - 6rem);
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .wallet-adapter-modal-container {
    margin: 1rem;
    min-height: calc(100vh - 2rem);
  }
}
.wallet-adapter-modal-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  max-width: 400px;
  border-radius: 10px;
  background: #10141f;
  box-shadow: 0 8px 20px #0009;
  font-family: DM Sans, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  flex: 1 1;
}
.wallet-adapter-modal-wrapper .wallet-adapter-button {
  width: 100%;
}
.wallet-adapter-modal-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  padding: 64px 48px 48px;
  text-align: center;
  color: #fff;
}
@media (max-width: 374px) {
  .wallet-adapter-modal-title {
    font-size: 18px;
  }
}
.wallet-adapter-modal-list {
  margin: 0 0 12px;
  padding: 0;
  width: 100%;
  list-style: none;
}
.wallet-adapter-modal-list .wallet-adapter-button {
  font-weight: 400;
  border-radius: 0;
  font-size: 18px;
}
.wallet-adapter-modal-list .wallet-adapter-button-end-icon,
.wallet-adapter-modal-list .wallet-adapter-button-end-icon img,
.wallet-adapter-modal-list .wallet-adapter-button-start-icon,
.wallet-adapter-modal-list .wallet-adapter-button-start-icon img {
  width: 28px;
  height: 28px;
}
.wallet-adapter-modal-list .wallet-adapter-button span {
  margin-left: auto;
  font-size: 14px;
  opacity: 0.6;
}
.wallet-adapter-modal-list-more {
  cursor: pointer;
  border: none;
  padding: 12px 24px 24px 12px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  background-color: initial;
  color: #fff;
}
.wallet-adapter-modal-list-more svg {
  transition: all 0.1s ease;
  fill: #fff;
  margin-left: 0.5rem;
}
.wallet-adapter-modal-list-more-icon-rotate {
  transform: rotate(180deg);
}
.wallet-adapter-modal-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 24px;
  box-sizing: border-box;
}
.wallet-adapter-modal-middle-button {
  display: block;
  cursor: pointer;
  margin-top: 48px;
  width: 100%;
  background-color: #512da8;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  color: #fff;
}
@font-face {
  font-family: __Inter_aaf875;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format("woff2");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f,
    u+fe2e-fe2f;
}
@font-face {
  font-family: __Inter_aaf875;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format("woff2");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
  font-family: __Inter_aaf875;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format("woff2");
  unicode-range: u+1f??;
}
@font-face {
  font-family: __Inter_aaf875;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format("woff2");
  unicode-range: u+0370-0377, u+037a-037f, u+0384-038a, u+038c, u+038e-03a1,
    u+03a3-03ff;
}
@font-face {
  font-family: __Inter_aaf875;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format("woff2");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329,
    u+1ea0-1ef9, u+20ab;
}
@font-face {
  font-family: __Inter_aaf875;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format("woff2");
  unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff,
    u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-family: __Inter_aaf875;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191,
    u+2193, u+2212, u+2215, u+feff, u+fffd;
}
@font-face {
  font-family: __Inter_Fallback_aaf875;
  src: local("Arial");
  ascent-override: 90.49%;
  descent-override: 22.56%;
  line-gap-override: 0%;
  size-adjust: 107.06%;
}
.__className_aaf875 {
  font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
  font-style: normal;
}
.__variable_aaf875 {
  --font-body: "__Inter_aaf875", "__Inter_Fallback_aaf875";
}
.header_container__xofsz {
  z-index: 50;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  padding: 0;
  background: var(--color-black);
}
.header_positiveaura__auKgP {
  background: lime;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  text-shadow: 0 0 1px lime, 0 0 1px lime, 0 0 1px lime, 0 0 3px #fff,
    0 0 3px #fff, 0 0 30px #fff, 0 0 17px #fff, 0 0 20px #fff;
}
.header_logo__9b1Md {
  padding-top: 0.5vh;
  font-size: 2rem;
  font-family: Lalezar, system-ui;
  background: -webkit-radial-gradient(circle, #eeaeca 0, #94bbe9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
}
.header_logo__9b1Md svg {
  height: 100%;
}
.header_header__w2BOs {
  height: 4.5rem;
  padding: 0 max(16px, 0.8333333333vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 40;
  position: relative;
}
.header_icon__6EP1l {
  width: 2.75rem;
  height: 2.75rem;
}
.header_icon__6EP1l svg {
  height: 100%;
}
.header_nav__Aoml7 {
  display: none;
  align-items: center;
  gap: 0.925rem;
}
.header_navItem__Jhlx9 {
  font-size: max(20px, 0.925vw);
  font-weight: 400;
  position: relative;
  color: #fff;
  font-family: Lalezar, system-ui;
}
.header_navItem__Jhlx9:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: var(--color-white);
  transform-origin: bottom right;
  transition: transform 0.15s ease-in-out;
}
.header_navItem__Jhlx9:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header_navButton__DUiwq {
  font-size: max(16px, 0.925vw);
  padding: 0.625rem 1.35rem;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  font-weight: 600;
}
.header_navButton__DUiwq:hover {
  color: var(--color-white);
}
.header_navButtonPrimary__hbkJE {
  border: 1px solid var(--color-gray);
  background: #1b1f2e;
  color: var(--color-white);
}
.header_navButtonSecondary__434ML {
  border: 1px solid var(--color-gray-lighter);
  background: var(--color-black);
  color: var(--color-white);
  font-style: italic;
}
.header_navButtonSecondary__434ML:hover {
  background: var(--color-gray);
}
.header_navButtonContainer__7OQm_ {
  display: none;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  flex-basis: 30%;
  gap: 0.925rem;
}
.header_announcementBanner__7CvJZ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-gray-lighter);
  background: var(--color-black);
  height: 40px;
  width: 100%;
}
.header_announcementBanner__7CvJZ svg {
  height: 12px;
}
.header_announcementText__c5hEV {
  line-height: 1.19rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-size: max(12px, 0.625vw);
}
.header_announcementText__c5hEV span {
  display: none;
}
@screen lg {
  .header_announcementText__c5hEV span {
    display: inline;
  }
}
.header_menuContainer__09Wh1 {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  z-index: 100;
  background: var(--color-black);
}
.header_menuHeader__1WW_q {
  height: max(59px, 6vw);
  border-bottom: 1px solid var(--color-gray-lighter);
}
.header_menuLinks__ccTKc {
  font-size: clamp(32px, 5vw, 10vh);
  font-weight: 200;
}
.header_menuLinksContainer__hZjWD {
  padding-top: 20vh;
  align-items: center;
  justify-content: center;
  flex: 1 0 70%;
}
.header_menuLinksContainer__hZjWD ul,
.header_menuLinksWallet__qil6t {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header_menuLinksWallet__qil6t {
  flex: 0 1 70%;
}
@media (min-width: 1024px) {
  .header_header__w2BOs {
    padding: 0 max(24px, 1.25vw);
  }
  .header_logo__9b1Md {
    flex-grow: 1;
    flex-basis: 30%;
  }
  .header_burguer__LXVU0 {
    display: none;
  }
  .header_navButtonContainer__7OQm_,
  .header_nav__Aoml7 {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .header_balanceButton__3p_B2 {
    padding-bottom: 2vh;
  }
  .header_nav__Aoml7 {
    display: none;
    align-items: center;
    gap: 0.925rem;
  }
  .header_navItem__Jhlx9 {
    font-size: max(16px, 0.925vw);
    font-weight: 300;
    position: relative;
  }
  .header_navItem__Jhlx9:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--color-white);
    transform-origin: bottom right;
    transition: transform 0.15s ease-in-out;
  }
  .header_navItem__Jhlx9:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .header_navButton__DUiwq {
    font-size: max(16px, 0.925vw);
    padding: 0.325rem 1.35rem;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
    font-weight: 600;
  }
  .header_navButton__DUiwq:hover {
    color: var(--color-white);
  }
  .header_navButtonPrimary__hbkJE {
    border: 1px solid var(--color-gray);
    background: #1b1f2e;
    color: var(--color-white);
  }
  .header_navButtonSecondary__434ML {
    border: 1px solid var(--color-gray-lighter);
    background: var(--color-black);
    color: var(--color-white);
    font-style: italic;
  }
  .header_navButtonSecondary__434ML:hover {
    background: var(--color-gray);
  }
  .header_navButtonContainer__7OQm_ {
    display: none;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 30%;
    gap: 0.925rem;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
}
pre {
  font-family: monospace;
  font-size: 1em;
}
a {
  background-color: #0000;
  color: inherit;
  text-decoration: inherit;
}
abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: solid;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
  margin: 0;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: initial;
}
textarea {
  overflow: auto;
  resize: vertical;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
button {
  background-color: #0000;
  background-image: none;
  padding: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}
input:input-placeholder,
textarea:input-placeholder {
  color: #a0aec0;
}
input::input-placeholder,
textarea::input-placeholder {
  color: #a0aec0;
}
input::placeholder,
textarea::placeholder {
  color: #a0aec0;
}
[role="button"],
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}
:root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --inspect-color: red;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #0f0f0f;
  --color-gray-lighter: #262626;
  --duration-slow: 1.1124845488s;
  --duration-normal: 0.7416563659s;
  --duration-fast: 0.3708281829s;
  --transition-quick: var(--duration-fast) cubic-bezier(0.25, 1, 0.5, 1);
  --transition-slow: var(--duration) cubic-bezier(0.25, 1, 0.5, 1);
}
html {
  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark;
}
body,
html {
  background-color: var(--color-black);
}
body {
  font-family: var(--font-body);
  transition: opacity var(--transition-quick);
}
body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}
html.no-scroll {
  overflow: hidden;
}
html.no-scroll body {
  overflow: hidden;
  touch-action: none;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.grid_grid__CNtWH {
  --columns: 12;
  --gap: max(24px, 1.25vw);
  --margin: max(24px, 1.25vw);
  --width: calc(1280px - 2 * var(--margin));
  position: fixed;
  z-index: 9999;
  background-image: linear-gradient(0deg, #00000008 50%, #ff000008 0);
  background-size: var(--gap) var(--gap);
  width: 100%;
  height: 100vh;
  inset: 0;
}
@media (max-width: 800px) {
  .grid_grid__CNtWH {
    --columns: 4;
    --gap: max(16px, 0.8333333333vw);
    --margin: max(16px, 0.8333333333vw);
  }
}
.grid_grid__CNtWH span {
  opacity: 0.15;
  background: var(--inspect-color);
}
.grid_grid--fluid__GiNOT {
  padding: 0 var(--margin);
}
.grid_grid--fixed__gJvKE,
.grid_grid--fluid__GiNOT {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: var(--gap);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
}
.grid_grid--fixed__gJvKE {
  margin: 0 auto;
  max-width: var(--width);
}
